body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-image: url("./assets/30838-math-wallpaper-math-wallpaper-math.jpg");
  background-repeat: no-repeat;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    "Courier New",
    monospace;
}
.container {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
}

.display {
  grid-column: 1/5;
  padding: 2.5rem 0.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 2.3rem;
  background-color: #a4a4a4;
}

.button {
  padding: 1.8rem;
  font-size: 1.4rem;
  border: 1px solid #ccc;
}

.app {
  display: flex;
  width: 100%;
}

.quote {
  width: 55%;
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
}

.home {
  width: 55%;
  color: #fff;
  padding: 0 2rem;
}

.calc {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 0 2rem;
}
